.Main-site {
    /*display: flex;*/
    /*padding: 15px;*/
    /*border: 2px solid grey;*/
    /*margin-top: 15px;*/
    justify-content: space-around;
    align-self: center;
    width: 100%;
    background: white;
    height: 70px;
}
